<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="d-table w-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <div class="title-heading">
                    <h1 class="heading mb-3">حمل تطبيق <span class="text-primary">إياس</span>
                        القانوني</h1>
                    <p class="para-desc text-muted">ابدأ تجربتك الآن! حيث يُمكنك رفع مستوى جودة حياتك من خلال محاميك، وذلك بالحفاظ على حقوقك والوعي بالتزاماتك..</p>
                    <div class="mt-4">
                        <a href="https://apps.apple.com/us/app/%D8%A5%D9%8A%D8%A7%D8%B3-%D8%A7%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D9%82%D8%A7%D9%86%D9%88%D9%86%D9%8A%D8%A9/id1457498410"
                            class="btn btn-eyas-dark mt-2 me-2"><i class="uil uil-apple"></i>
                            App
                            Store</a>
                        <a href="https://play.google.com/store/apps/details?id=com.eyas.user"
                            class="btn btn-eyas-dark mt-2"><i class="uil uil-google-play"></i> Play
                            Store</a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="text-md-end text-center ms-lg-4">
                    <img src="assets/images/eyas-people-app-2.png" style="border-radius: 36px; height: 100vh;" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>