<section 
 data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 col-12"  >
                <img src="assets/images/eyas-lawyer-app-2.png" class="img-fluid mx-auto d-block" style="border-radius: 36px;height: 100vh;">
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 d-flex justify-content-center">
                <div class="section-title">
                    <!-- <h4 class="title mb-4">Available for your <br> Smartphones</h4> -->
                    <h1 class="heading mb-3"><span class="text-primary"></span>
                        محامي أو مستشار قانوني؟</h1>
                    <p class="text-muted">
                            نُعزز تواجدك الرقمي ونُمكنك تقنياً من تقديم الخدمات القانونية باحترافية وجودة عالية
                    </p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>طريقة عمل مؤتمتة بالكامل</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>الدخول في سوق مختلف</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>الوصول إلى عملاء جدد</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>أرشفة دقيقة للأعمال القانونية
                        </li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>زيادة في الدخل والأرباح</li>
                    </ul>
                    <p class="mb-1"><span class="text-primary h5 me-2"><i class="align-middle"></i></span>سجّل الآن.. في
                        النسخة الخاصة
                        بالمحامين
                        فهناك آلاف العملاء بانتظارك!</p>
                    <div class="my-4">
                        <a href="https://apps.apple.com/us/app/%D8%A5%D9%8A%D8%A7%D8%B3-%D9%86%D8%B3%D8%AE%D8%A9-%D8%A7%D9%84%D9%85%D8%AD%D8%A7%D9%85%D9%8A%D9%86/id1562138289"
                            class="btn btn-lg btn-dark mt-2 me-2"><i class="uil uil-apple"></i>
                            App
                            Store</a>
                        <a href="https://play.google.com/store/apps/details?id=com.eyas.consultation&hl=ar&gl=US"
                            class="btn btn-lg btn-dark mt-2"><i class="uil uil-google-play"></i>
                            Play
                            Store</a>
                    </div>

                    <div class="d-inline-block">
                        <div class="pt-4 d-flex align-items-center border-top">
                            <i-feather name="smartphone" class="fea icon-md me-2 text-primary"></i-feather>
                            <div class="content">
                                <!-- <h6 class="mb-0">حمل التطبيق الآن</h6> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>