<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="section">

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img src="assets/images/integration/interactiondesign-amico.svg" class="img-fluid" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">قم بتحميل تطبيق إياس اليوم وابدأ في الحصول على المشورة القانونية التي تحتاجها</h4>

                    <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i>إياس الحل الأمثل للحصول علي الاستشارة القانونية</h5>
                    <p class="text-muted para-desc ms-4 ps-2">ندرك أهمية الحصول على المشورة والتوجيه القانوني في أي وقت. لهذا السبب، قمنا بتطوير تطبيق جوال يتيح لك الاتصال بمحاميين
                    ذوي خبرة يمكنهم مساعدتك في أي مسألة قانونية</p>
                    <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i>توفير الوقت </h5>
                    <p class="text-muted para-desc ms-4 ps-2">تطبيقنا سهل الاستخدام ويتوفر على مدار الساعة وطوال أيام الأسبوع. يمكنك الاتصال بمحام في دقائق والحصول على المشورة
                    القانونية بشأن أي مسألة، سواء كانت متعلقة بقانون الأعمال، قانون العائلة، قانون الهجرة أو أي مسألة قانونية أخرى. محامونا
                    خبراء في مجالهم ومستعدون لمساعدتك في أي مسألة قانونية قد تواجهها.</p>
                    <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i> محامين بدرجة كفاءة عالية</h5>
                    <p class="text-muted para-desc ms-4 ps-2">في إياس، نؤمن بتوفير أفضل مستوى من الخدمة لعملائنا. لهذا السبب، لدينا فريق من المتخصصين المخصصين لمساعدتك في كل خطوة من
                    الطريق. هدفنا هو ضمان حصولك على أفضل المشورة والتوجيه القانوني الممكن، مصممة لتلبية احتياجاتك الخاصة.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>