

<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <app-our-story id="home"></app-our-story>
    <app-what-we-do id="eyas-people"></app-what-we-do>
    <app-download-eyas-people></app-download-eyas-people>
    <app-download-eyas-business id="eyas-business"></app-download-eyas-business>
    <!-- <app-about-us></app-about-us> -->
    <app-download-eyas-lawyer id="eyas-lawyer"></app-download-eyas-lawyer>
    <!-- <app-discover></app-discover> -->
    <!-- <app-blog></app-blog> -->
    <!-- <app-law-dictionary></app-law-dictionary> -->
    <!-- <app-users-stories></app-users-stories> -->
    <!-- <app-news-letter-signup id="news-letter"></app-news-letter-signup> -->
</div>